.film-title {
  font-size: 1.6rem;
  font-family: 'Poppins';
}

.film-crawl {
  font-size: 1.6rem;
  line-height: 1.5;
}

.single-film {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.5rem;
  padding: 1.5rem;
}
